In [47]:
import pandas as pd

In [48]:
from sqlalchemy import create_engine

In [49]:
df=pd.read_csv("Resources\\Project2_idmc_disaster_all_dataset.csv")

In [50]:
df.head()

,Country code,Country Name,Year,Start Date,Event Name,Hazard Category,Hazard Type,New Displacements
0,AB9,Abyei Area,2018,7/1/2018,Abyie: Flood - 01/07/2018,Weather related,Flood,2.0
1,AB9,Abyei Area,2019,6/1/2019,Abyei: Flood - southern parts - 01/06/2019,Weather related,Flood,40000.0
2,AFG,Afghanistan,2008,1/1/2008,NaN,Weather related,Extreme temperature,NaN
3,AFG,Afghanistan,2008,4/17/2008,NaN,Geophysical,Earthquake,3250.0
4,AFG,Afghanistan,2008,8/1/2008,NaN,Weather related,Flood,180.0

In [51]:
!pip install pycountry_convert

Requirement already satisfied: pycountry_convert in c:\users\mamec\anaconda3\lib\site-packages (0.7.2)
Requirement already satisfied: pytest-mock>=1.6.3 in c:\users\mamec\anaconda3\lib\site-packages (from pycountry_convert) (3.3.1)
Requirement already satisfied: pytest>=3.4.0 in c:\users\mamec\anaconda3\lib\site-packages (from pycountry_convert) (5.3.5)
Requirement already satisfied: pytest-cov>=2.5.1 in c:\users\mamec\anaconda3\lib\site-packages (from pycountry_convert) (2.10.1)
Requirement already satisfied: pprintpp>=0.3.0 in c:\users\mamec\anaconda3\lib\site-packages (from pycountry_convert) (0.4.0)
Requirement already satisfied: repoze.lru>=0.7 in c:\users\mamec\anaconda3\lib\site-packages (from pycountry_convert) (0.7)
Requirement already satisfied: pycountry>=16.11.27.1 in c:\users\mamec\anaconda3\lib\site-packages (from pycountry_convert) (20.7.3)
Requirement already satisfied: wheel>=0.30.0 in c:\users\mamec\anaconda3\lib\site-packages (from pycountry_convert) (0.34.2)
Requirement already satisfied: py>=1.5.0 in c:\users\mamec\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.8.1)
Requirement already satisfied: packaging in c:\users\mamec\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (20.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\mamec\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (19.3.0)
Requirement already satisfied: more-itertools>=4.0.0 in c:\users\mamec\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (8.2.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in c:\users\mamec\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (0.13.1)
Requirement already satisfied: wcwidth in c:\users\mamec\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (0.1.8)
Requirement already satisfied: importlib-metadata>=0.12 in c:\users\mamec\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.5.0)
Requirement already satisfied: atomicwrites>=1.0 in c:\users\mamec\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.3.0)
Requirement already satisfied: colorama in c:\users\mamec\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (0.4.3)
Requirement already satisfied: coverage>=4.4 in c:\users\mamec\anaconda3\lib\site-packages (from pytest-cov>=2.5.1->pycountry_convert) (5.3)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\mamec\anaconda3\lib\site-packages (from packaging->pytest>=3.4.0->pycountry_convert) (2.4.6)
Requirement already satisfied: six in c:\users\mamec\anaconda3\lib\site-packages (from packaging->pytest>=3.4.0->pycountry_convert) (1.14.0)
Requirement already satisfied: zipp>=0.5 in c:\users\mamec\anaconda3\lib\site-packages (from importlib-metadata>=0.12->pytest>=3.4.0->pycountry_convert) (2.2.0)

In [52]:
import pycountry_convert as pc

In [53]:
country_code = pc.country_name_to_country_alpha2("China", cn_name_format="default")
print(country_code)
continent_name = pc.country_alpha2_to_continent_code(country_code)
print(continent_name)

CN
AS

In [54]:
#df[continent]= pc.country_alpha2_to_continent_code(country_code).(df["Country Name"])

In [55]:
def country_code(name):
    try:
        code = pc.country_name_to_country_alpha2(name, cn_name_format="default")
        return code
    except:
        return "N/A"
def continent_name(name):
    try:
        continent = pc.country_alpha2_to_continent_code(name)
        return continent
    except:
        return "N/A"
df["Country_2D"] = df["Country Name"].apply(country_code)
df["Continent"] = df["Country_2D"].apply(continent_name)

In [56]:
df.head()

,Country code,Country Name,Year,Start Date,Event Name,Hazard Category,Hazard Type,New Displacements,Country_2D,Continent
0,AB9,Abyei Area,2018,7/1/2018,Abyie: Flood - 01/07/2018,Weather related,Flood,2.0,N/A,N/A
1,AB9,Abyei Area,2019,6/1/2019,Abyei: Flood - southern parts - 01/06/2019,Weather related,Flood,40000.0,N/A,N/A
2,AFG,Afghanistan,2008,1/1/2008,NaN,Weather related,Extreme temperature,NaN,AF,AS
3,AFG,Afghanistan,2008,4/17/2008,NaN,Geophysical,Earthquake,3250.0,AF,AS
4,AFG,Afghanistan,2008,8/1/2008,NaN,Weather related,Flood,180.0,AF,AS

In [57]:
df_Africa= df[df["Continent"]=="AF"]

In [58]:
df_Africa

,Country code,Country Name,Year,Start Date,Event Name,Hazard Category,Hazard Type,New Displacements,Country_2D,Continent
212,AGO,Angola,2009,1/1/2009,NaN,Weather related,Flood,415.0,AO,AF
213,AGO,Angola,2009,1/1/2009,NaN,Weather related,Flood,4650.0,AO,AF
214,AGO,Angola,2009,1/1/2009,NaN,Weather related,Flood,81000.0,AO,AF
215,AGO,Angola,2010,1/1/2010,NaN,Weather related,Flood,3875.0,AO,AF
216,AGO,Angola,2010,1/1/2010,NaN,Weather related,Flood,75000.0,AO,AF
...,...,...,...,...,...,...,...,...,...,...
8354,ZWE,Zimbabwe,2018,1/1/2018,Zimbabwe: Hailstorm - Umguza - 01/01/2018,Weather related,Storm,80.0,ZW,AF
8355,ZWE,Zimbabwe,2019,3/4/2019,"Malawi, Mozambique, Madagascar, Zimbabwe: Cycl...",Weather related,Storm,50905.0,ZW,AF
8356,ZWE,Zimbabwe,2019,2/13/2019,Zimbabwe: Floods- Chiredzi (Masvingo)- 13/02/2019,Weather related,Flood,200.0,ZW,AF
8357,ZWE,Zimbabwe,2019,10/7/2019,Zimbabwe: Hailstorm- Masvingo (Zaka)- 07/10/2019,Weather related,Storm,400.0,ZW,AF
8358,ZWE,Zimbabwe,2019,1/11/2019,Zimbabwe: Storm - Masvingo - 11/01/2019,Weather related,Storm,800.0,ZW,AF

In [59]:
df.groupby("Continent").count()

,Country code,Country Name,Year,Start Date,Event Name,Hazard Category,Hazard Type,New Displacements,Country_2D
Continent,,,,,,,,,
AF,1059,1059,1059,1059,828,1059,1059,990,1059
AS,3814,3814,3814,3814,3385,3813,3813,3632,3814
EU,517,517,517,517,394,517,517,425,517
N/A,453,453,453,453,393,453,453,419,453
NA,1251,1251,1251,1251,1067,1250,1250,1134,1251
OC,292,292,292,292,230,292,292,246,292
SA,973,973,973,973,860,972,972,924,973

In [66]:
# Create Postgres Engine
engine = create_engine ('postgres://postgres:Borice@88@localhost:5432/Bootcamp_Project_2')

In [67]:
df_Africa.to_sql ('Africa_Migration', con = engine, index_label = 'Africa_Migration_id')